.nav {
  a {
    position: relative;
    margin-bottom: 2px;
    height: 40px;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    font-size:  18pt;

    i {
      transition: 0.5s;
      position: absolute;
    }
    p {
      opacity: 0;
      font-size: 11pt;
      transition: 0.5s;
      letter-spacing: 2px;
      position: absolute;
      text-transform: uppercase;
    }
    &:hover {
      i {  opacity: 0; }
      p { opacity: 1; }
    }
  }
}
